<p>
  <a href="{{site.lc_site}}"> The Summer Data Institute</a>
  is geared towards staff from all library departments and is intended to teach skills that will be useful for working with both operational data (catalog records, circulation statistics, etc.) and research data (your own or that of other researchers). 

By the end of the institute, the participants will be able to: 
</p>
<ul>
  <li>define terms and concepts for working with data in order to identify and address opportunities and needs</li>
  <li>utilize appropriate tools for different data needs and use cases</li>
  <li>formulate specific strategies for how they will incorporate data/computational tools into their own work</li>
  <li>and much more...</li>
</ul>
<p align="center">
  <em>
    Summer Data Institute introduces you to the fundamentals of data management
    and provides you with a platform for further self-directed learning.
    For more information on Library Carpentries, please see the paper
    "<a href="http://doi.org/10.18352/lq.10176">Library Carpentry: software skills training for library professionals</a>".
  </em>
</p>
